.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: #7d0ec5;
    font-family: cursive;
    font-size: 20px;
  }
  
  .link.active {
    color: #e84a5f;
  }